@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
}

.container {
    background-color: white;
}

.thumbnail {
    display: block;
    width: 150px;
    height: 96px;
    margin-right: 5px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: rgb(214, 214, 214);
    color: rgb(230, 230, 230);
    text-align: center;
}

.articleBody {
    height: 96px;
    background-color: rgb(240, 239, 239);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.date {
    font-size: 80%;
    color: rgb(184, 184, 184);
}

@media only screen and (max-width: 800px) {
    .content {
        display: none;
    }
}